
<div class="scroll jumbotron bordr">
  <div class="container container-styles">
    <div class="panel-body padding">
      <form class="form-horizontal" #loginForm="ngForm">
        <div class="form-group">
          <label for="file" class="col-sm-2 control-label text-light" style="text-align:left">Select file</label>
          <select class="col-sm-3" (change)="selectfile($event.target.value)">
            <option value="" disabled>Choose the file to Mock</option>
            <option *ngFor="let prod of file">{{prod}} </option>
          </select>
          <div class="col-sm-3">
            <button (click)="onSubmit()" class="btn btn-primary" [disabled]="!flag">Mock the Selected
              File</button>
          </div>
          <marquee class="text-white">Use http://localhost:2883/mockit as Base URL</marquee>
          <br>
          <div *ngIf="msg" style="color:rgb(21, 165, 212)">{{msg}}</div>
          <table class='table text-light text-white fixed' *ngIf='msg' style="margin-bottom: 0px; margin-right: 0px">
            <thead>
              <tr class="tableheadercolor ">
                <th style="width:25%" class="center">API</th>
                <th style="width:15%">Request_Method</th>
                <th style="width:12%">Status</th>
                <th style="width:51%">Response</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let res of mockResponse; let i=index'>
                <td class="">{{res.api}}</td>
                <td class="">{{res.requestMethod}}</td>
                <td class=""> {{res.statusCode}}</td>
                <td class="">{{res.response}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </form>
    </div>
  </div>
</div>
