<nav class='navbar navbar-expand-md ' style="background-color:rgb(88,44, 131)">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <div class="container-fluid">
      <div class="navbar-header">
        <h6 class="navbar-brand">
          <a class="nav-link text-light text-white" href=""> Service Mock </a>
        </h6>
      </div>
      <!-- <ul class="nav navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link text-light" [routerLink]="['/chooseFile']" >Upload mock file</a>
        </li>
      </ul> -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link text-light" [routerLink]="['/about']">About</a>
        </li>
      </ul>

    </div>
  </div>
</nav>